<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title %></title>
    <style>
        body {
            width: 100%;
            height: 100%;
            position: relative;
            background-color: rgb(104, 168, 125);
        }
    </style>
</head>
<body>
    <h1><%=title %> на EJS</h1>
</body>
</html>
    <h3>Имя <%=name%></h3>
    <h3>Фамилия: <%=surname%></h3>
    <% let dir = process.cwd() %>
    <%- include(dir+'/partials/addition.ejs') %>
</body>
<html>